# gunicorn service
[Unit]
Description=Gunicorn service daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
EnvironmentFile=/etc/gunicorn.env
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 --access-logfile /tmp/airbnb-error.log --error-logfile /tmp/airbnb-error.log web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target

